@model EntityLayer.Concrete.Testimonial

@{
    ViewData["Title"] = "AddTestimonial";
    Layout = "~/Views/Shared/NewTAdminLayout.cshtml";
}

<form asp-action="AddTestimonial">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Yeni Referans Ekleme Paneli</h4>
                <div class="form-group">
                    <label>Ad Soyad</label>
                    <input type="text" class="form-control" asp-for="@Model.ClientName">
                </div>
                <div class="form-group">
                    <label>Şirket</label>
                    <input type="text" class="form-control" asp-for="@Model.Company">
                </div>
                <div class="form-group">
                    <label>Görsel Url</label>
                    <input type="text" class="form-control" asp-for="@Model.ImageUrl">
                </div>
                <div class="form-group">
                    <label>Tittle</label>
                    <input type="text" class="form-control" asp-for="@Model.Tittle">
                </div>
                <div class="form-group">
                    <label>Yorum</label>
                    <textarea class="form-control" asp-for="@Model.Comment" rows="4"></textarea>
                </div>
                <button type="submit" class="btn btn-outline-success">Kaydet</button>
                <button class="btn btn-outline-danger">İptal</button>
            </div>
        </div>
    </div>
</form>