@model EntityLayer.Concrete.Service
@{
    ViewData["Title"] = "EditService";
    Layout = "~/Views/Shared/NewTAdminLayout.cshtml";
}

<h1>EditService</h1>
<br />

@using (Html.BeginForm("EditService", "Service", FormMethod.Post))
{
    @Html.HiddenFor(x=>x.ServiceID)
    <br />
    @Html.Label("Hizmet Adı")
    @Html.TextBoxFor(x=>x.Tittle , new{@class ="form-control"})
    <br />
    @Html.Label("Resim Yolu 1")
    @Html.TextBoxFor(x=>x.ImageUrl , new{@class ="form-control"})
    <br />
    <button class="btn btn-outline-warning">Kaydet</button>
}
